@model PhotoSharingApp.Model.Photo

@{
    ViewBag.Title = "Display";
}

<h2>@Model.Title</h2>

<img src="@Url.Action("GetImage" , new {id = Model.PhotoID })" width="800"/>

<p>@Html.DisplayFor(model => model.Description )</p>

<p>@Html.DisplayNameFor(model => model.Owner ) : @Html.DisplayFor(model => model.Owner )</p>

<p>@Html.DisplayNameFor(model => model.CreatedDate ) : @Html.DisplayFor(model => model.CreatedDate )</p>

<p>@Html.ActionLink("Back to List", "Index")</p>
